#include <winuser.h>
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "noteshider.manifest.xml"

0 ICON "noteshider.ico"
1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "LegalCopyright", "Renato Silva"
            VALUE "FileDescription", "Notes Hider"
            VALUE "ProductName", "Notes Hider"
            VALUE "ProductVersion", "2014.7.29"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
