#include <winuser.h>
#include "sendtray.h"
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "sendtray.manifest.xml"

0 ICON "sendtray.ico"
1 VERSIONINFO
FILEVERSION 0,0,0,0
PRODUCTVERSION 0,0,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "LegalCopyright", "Renato Silva, and original RBTray authors"
            VALUE "FileDescription", "SendTray"
            VALUE "ProductName", "SendTray"
            VALUE "ProductVersion", APP_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
